In [1]:
import ipy_table
import re
%run ../aux/postgres.py

postgres functions loaded...

In [15]:
# correção caracter \0000
cmd = ("update tweet "
       "set json = (regexp_replace(json::text, '\\u0000', '', 'g'))::json "
       "where codprojeto = 28 and "
       "(json)::varchar like '%\\u0000%'"
      )
execSQL(cmd)

In [ ]:
# correção caracter \0000
cmd = ("update tweet "
       "set json = (regexp_replace(json::text, '\\u0000', '', 'g'))::json "
       "where codprojeto = 28 and "
       "(json)::varchar like '%\\u0000%'"
      )
execSQL(cmd)

In [16]:
# correção tweets 280 caracteres
cmd = ("update tweet set "
       "text = json->'extended_tweet'->>'full_text' "
       "where codprojeto = 28 "
       "and json->'extended_tweet'->>'full_text' is not null "
      )
execSQL(cmd)

DataError: unsupported Unicode escape sequence
DETAIL:  \u0000 cannot be converted to text.
CONTEXT:  JSON data, line 1: ...et": null, "statuses_count": 8794, "description":...

In [12]:
# correção caratcer \0000 tweets e tweets 280 caracteres
cmd = ("update tweet set "
       "text = (regexp_replace(json::text, '\\u0000', '', 'g')::json)->'extended_tweet'->>'full_text' "
       "where codtweet in (select codtweet from amostratweet where codamostra = 130) "
       "and (regexp_replace(json::text, '\\u0000', '', 'g')::json)->'extended_tweet'->>'full_text' is not null")
print(cmd)

update tweet set text = (regexp_replace(json::text, '\u0000', '', 'g')::json)->'extended_tweet'->>'full_text' where codtweet in (select codtweet from amostratweet where codamostra = 130) and (regexp_replace(json::text, '\u0000', '', 'g')::json)->'extended_tweet'->>'full_text' is not null

In [ ]:
# correção tweets 280 caracteres
#update tweet set 
#text = json->'extended_tweet'->>'full_text'
#where codprojeto = 28 
#and json->'extended_tweet'->>'full_text' is not null

In [11]:
query("select count(codtweet) from tweet where codprojeto = 28")

KeyboardInterrupt:

In [9]:
query("select codamostra, descricao, observacao from amostra where lower(descricao) like '%implant%' order by codamostra")

[(131, 'Tweets Dental Implant', 'Tweets com expressão dental implant'),
 (132,
  'Tweets Dental Implant [en]',
  'Tweets com expressão dental implant em inglês'),
 (133,
  'Tweets Dental Implant [en / no similar]',
  'Tweets com expressão dental implant em inglês e sem tweets similares'),
 (134,
  'Tweets Dental Implant [100 / en / no similar]',
  '100 tweets com expressão dental implant em inglês e sem tweets similares'),
 (135,
  'Tweets Dental Implant [1000 / en / no similar]',
  '1000 tweets com expressão dental implant em inglês e sem tweets similares'),
 (218, 'Tweets Dental Implant 2020', None),
 (219, 'Tweets Dental Implant 2020 [en]', None),
 (220, 'Tweets Dental Implant 2020 [en / no similar]', None)]

In [27]:
query("select a.codamostra, descricao, (select count(codtweet) from amostratweet at where at.codamostra = a.codamostra) from amostra a where lower(descricao) like '%implant%' order by codamostra")

[(131, 'Tweets Dental Implant', 245410),
 (132, 'Tweets Dental Implant [en]', 222603),
 (133, 'Tweets Dental Implant [en / no similar]', 136564),
 (134, 'Tweets Dental Implant [100 / en / no similar]', 100),
 (135, 'Tweets Dental Implant [1000 / en / no similar]', 1000),
 (218, 'Tweets Dental Implant 2020', 325549),
 (219, 'Tweets Dental Implant 2020 [en]', 300691),
 (220, 'Tweets Dental Implant 2020 [en / no similar]', 179979)]

In [37]:
query("select a.codamostra, descricao, (select count(codtweet) from amostratweet at where at.codamostra = a.codamostra) from amostra a where lower(descricao) like '%implant%' order by codamostra")

[(131, 'Tweets Dental Implant', 245410),
 (132, 'Tweets Dental Implant [en]', 222603),
 (133, 'Tweets Dental Implant [en / no similar]', 136564),
 (134, 'Tweets Dental Implant [100 / en / no similar]', 100),
 (135, 'Tweets Dental Implant [1000 / en / no similar]', 1000),
 (218, 'Tweets Dental Implant 2020', 318004),
 (219, 'Tweets Dental Implant 2020 [en]', 293306),
 (220, 'Tweets Dental Implant 2020 [en / no similar]', 179979)]

In [23]:
cmd = (
    "INSERT INTO amostratweet (codamostra, codtweet) "
    "SELECT 219, codtweet "
    "FROM tweet "
    "WHERE codprojeto = 28 "
    "AND lower(text) like '%dental implant%' "
    "AND json->>'lang' = 'en'"
    )
print(cmd)

INSERT INTO amostratweet (codamostra, codtweet) SELECT 219, codtweet FROM tweet WHERE codprojeto = 28 AND lower(text) like '%dental implant%' AND json->>'lang' = 'en'

In [ ]:
cmd = ("select count(at.codtweet) "
       "from amostratweet at "
       "inner join tweet t on t.codtweet = at.codtweet "
       "where codamostra = 218")
print(cmd)
#query(cmd)

In [31]:
cmd = ("select count(at.codtweet) "
       "from amostratweet at "
       "inner join tweet t on t.codtweet = at.codtweet "
       "where codamostra = 218 and datatweet > '2019-11-31'")
print(cmd)
#query(cmd)

select count(at.codtweet) from amostratweet at inner join tweet t on t.codtweet = at.codtweet where codamostra = 218 and datatweet > '2019-11-31'